@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;

    h1 {
        font-weight: lighter;
        font-size: 1.5rem;
        text-align: center;
    }

    #textarea {
        min-width: 800px;
        min-height: 120px;
        font-size: 2rem;
        resize: none;
    }

    .tags {
        display: flex;

        .tag {
            background-color: orange;
            padding: .5rem 1rem;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: transform .1s ease-in-out;
            &:active{
                transform: scale(.9);
            }
            &:not(:first-child) {
                margin-left: .5rem;
            }
            &.highlighted{
                background-color: rgb(79, 101, 197);
            }
        }
    }
}