@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #00ADB5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    position: relative;
}

.img {
    max-width: 100%;
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 4px;
}

.heart {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    animation: fadeInAnimation ease 1s, heartbeat 3s;

    &::after,
    &::before {
        content: '';
        background-color: red;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }

    &::before {
        left: -25px;
    }

    &::after {
        top: -25px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes heartbeat {
    0% {
        transform: rotate(45deg) scale(.75);
    }

    20% {
        transform: rotate(70deg) scale(1);
    }

    40% {
        transform: rotate(45deg) scale(.75);
    }

    60% {
        transform: rotate(45deg) scale(1);
    }

    80% {
        transform: rotate(45deg) scale(.75);
    }

    100% {
        transform: rotate(45deg) scale(.75);
    }
}